<a href="https://colab.research.google.com/github/Dhriti07/Codes-/blob/main/GoodDog_DataFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd 
import csv

In [10]:
# Reading out web scraped Data of Good Dog Website from CSV to a DataFrame 
df = pd.read_csv('site_2.csv')
df.head()

,Unnamed: 0,page,breed,name,website,loc,cont_name
0,0,1,australian-cattle-dog,RnB Cattle Dogs,http://www.rnbcattledogs.com/,"Libby, MT",Bonnie Edmundson
1,1,1,australian-cattle-dog,Broken Trail Ranch Australian Cattle Dogs,http://brokentrailranch.com/,"Kalispell, MT",Jessi & Tex Morgan
2,2,1,australian-cattle-dog,Burnbright ACDs,http://Burnbrightkennels.com,"Gold Hill, OR",Shayna Smith
3,3,1,australian-cattle-dog,Bear Mountain Australian Cattle Dogs and Herdi...,https://www.gooddog.com//breeders/bear-mountai...,"Lore City, OH",Tammy Mosier
4,4,1,australian-cattle-dog,AE's aka Aunt Ellen's,https://www.gooddog.com//breeders/aes-aka-aunt...,"Junction City, OH",Ellen Schwab

In [11]:
# Remove Extra unnamed index column from csv 
df = df.iloc[:, 1:]
df.head()

,page,breed,name,website,loc,cont_name
0,1,australian-cattle-dog,RnB Cattle Dogs,http://www.rnbcattledogs.com/,"Libby, MT",Bonnie Edmundson
1,1,australian-cattle-dog,Broken Trail Ranch Australian Cattle Dogs,http://brokentrailranch.com/,"Kalispell, MT",Jessi & Tex Morgan
2,1,australian-cattle-dog,Burnbright ACDs,http://Burnbrightkennels.com,"Gold Hill, OR",Shayna Smith
3,1,australian-cattle-dog,Bear Mountain Australian Cattle Dogs and Herdi...,https://www.gooddog.com//breeders/bear-mountai...,"Lore City, OH",Tammy Mosier
4,1,australian-cattle-dog,AE's aka Aunt Ellen's,https://www.gooddog.com//breeders/aes-aka-aunt...,"Junction City, OH",Ellen Schwab

In [18]:
# Divide location column into City and State columns
df_location = df['loc'].str.split(",",expand=True)
df_location = df_location.iloc[:, :-2]
df_location.rename(columns = {0:'city', 1:'state'}, inplace = True)
df_location

                 city state
0               Libby    MT
1           Kalispell    MT
2           Gold Hill    OR
3           Lore City    OH
4       Junction City    OH
...               ...   ...
16383         Georgia  None
16384  Port St. Lucie    FL
16385           Miami    FL
16386    Pennsylvania  None
16387            Ohio  None

[16388 rows x 2 columns]

In [20]:
# If the Only one entry exists that entry corresponds to the state entry 
for i in range(df_location['city'].size):
  if (df_location['state'][i] == None):
    df_location['state'][i] = df_location['city'][i]
    df_location['city'][i] = None

In [21]:
df_location

                 city         state
0               Libby            MT
1           Kalispell            MT
2           Gold Hill            OR
3           Lore City            OH
4       Junction City            OH
...               ...           ...
16383            None       Georgia
16384  Port St. Lucie            FL
16385           Miami            FL
16386            None  Pennsylvania
16387            None          Ohio

[16388 rows x 2 columns]

In [22]:
# Append the location data frame to the originial dataframe 
df = df.join(df_location)

In [23]:
df

,page,breed,name,website,loc,cont_name,city,state
0,1,australian-cattle-dog,RnB Cattle Dogs,http://www.rnbcattledogs.com/,"Libby, MT",Bonnie Edmundson,Libby,MT
1,1,australian-cattle-dog,Broken Trail Ranch Australian Cattle Dogs,http://brokentrailranch.com/,"Kalispell, MT",Jessi & Tex Morgan,Kalispell,MT
2,1,australian-cattle-dog,Burnbright ACDs,http://Burnbrightkennels.com,"Gold Hill, OR",Shayna Smith,Gold Hill,OR
3,1,australian-cattle-dog,Bear Mountain Australian Cattle Dogs and Herdi...,https://www.gooddog.com//breeders/bear-mountai...,"Lore City, OH",Tammy Mosier,Lore City,OH
4,1,australian-cattle-dog,AE's aka Aunt Ellen's,https://www.gooddog.com//breeders/aes-aka-aunt...,"Junction City, OH",Ellen Schwab,Junction City,OH
...,...,...,...,...,...,...,...,...
16383,25,yorkshire-terrier,Golden Spirit Dews Exotic Yorkies,https://www.gooddog.com//breeders/golden-spiri...,Georgia,Diane Sauers,None,Georgia
16384,25,yorkshire-terrier,Debbie's Yorkies,https://www.gooddog.com//breeders/debbies-york...,"Port St. Lucie, FL",Debbie Bugh,Port St. Lucie,FL
16385,25,yorkshire-terrier,"Armando Sobrado Afghan Hounds, Pomeranians & Y...",https://www.gooddog.com//breeders/armando-sobr...,"Miami, FL",Armando Sobrado,Miami,FL
16386,25,yorkshire-terrier,Cindy's Pups,https://www.gooddog.com//breeders/cindys-pups-...,Pennsylvania,Cindy Samick,None,Pennsylvania
16387,25,yorkshire-terrier,SouthernCharm’s Yorkshire and Biewer Terriers,https://www.gooddog.com//breeders/southernchar...,Ohio,Kat Roberts,None,Ohio

In [24]:
# CSV File Codes Containing State Codes of all the states 
# Use the CSV file to make a state_map dictionary corresponding to all states and their codes 
with open('Codes.csv', mode='r') as infile:
  reader = csv.reader(infile)
  with open('Codes_new.csv', mode='w') as outfile:
    writer = csv.writer(outfile)
    state_map = {rows[0]:rows[1] for rows in reader}

In [25]:
state_map

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Puerto Rico': 'PR',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virgin Islands': 'VI',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [29]:
# Replace all full values of state to their state codes to bring about uniformity 
for i in range(df['state'].size):
  if(not (df['state'][i] == None)):
    if df['state'][i] in state_map.keys():
      df['state'][i] = state_map[df['state'][i]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [30]:
df

,page,breed,name,website,loc,cont_name,city,state
0,1,australian-cattle-dog,RnB Cattle Dogs,http://www.rnbcattledogs.com/,"Libby, MT",Bonnie Edmundson,Libby,MT
1,1,australian-cattle-dog,Broken Trail Ranch Australian Cattle Dogs,http://brokentrailranch.com/,"Kalispell, MT",Jessi & Tex Morgan,Kalispell,MT
2,1,australian-cattle-dog,Burnbright ACDs,http://Burnbrightkennels.com,"Gold Hill, OR",Shayna Smith,Gold Hill,OR
3,1,australian-cattle-dog,Bear Mountain Australian Cattle Dogs and Herdi...,https://www.gooddog.com//breeders/bear-mountai...,"Lore City, OH",Tammy Mosier,Lore City,OH
4,1,australian-cattle-dog,AE's aka Aunt Ellen's,https://www.gooddog.com//breeders/aes-aka-aunt...,"Junction City, OH",Ellen Schwab,Junction City,OH
...,...,...,...,...,...,...,...,...
16383,25,yorkshire-terrier,Golden Spirit Dews Exotic Yorkies,https://www.gooddog.com//breeders/golden-spiri...,Georgia,Diane Sauers,None,GA
16384,25,yorkshire-terrier,Debbie's Yorkies,https://www.gooddog.com//breeders/debbies-york...,"Port St. Lucie, FL",Debbie Bugh,Port St. Lucie,FL
16385,25,yorkshire-terrier,"Armando Sobrado Afghan Hounds, Pomeranians & Y...",https://www.gooddog.com//breeders/armando-sobr...,"Miami, FL",Armando Sobrado,Miami,FL
16386,25,yorkshire-terrier,Cindy's Pups,https://www.gooddog.com//breeders/cindys-pups-...,Pennsylvania,Cindy Samick,None,PA
16387,25,yorkshire-terrier,SouthernCharm’s Yorkshire and Biewer Terriers,https://www.gooddog.com//breeders/southernchar...,Ohio,Kat Roberts,None,OH

In [31]:
# Sort the values first by breed followed by state code and then followed by the name of the breeder 
df = df.sort_values(by = ['breed','state','name'], ascending = [True, True, True], na_position = 'first')
df

,page,breed,name,website,loc,cont_name,city,state
105,6,australian-cattle-dog,Dream Weavers Blue Heelers,http://cattledogcrazy.com/our-girls/,NaN,Patricia Weaver,NaN,NaN
150,8,australian-cattle-dog,Rockin Heeler Ranch,https://www.gooddog.com//breeders/rockin-heele...,NaN,Tanya Alberti,NaN,NaN
149,8,australian-cattle-dog,Spotted Ewe ACDs,https://www.gooddog.com//breeders/spotted-ewe-...,NaN,Sarah Karr,NaN,NaN
44,3,australian-cattle-dog,Fox’s Working Cattle Dogs,https://www.gooddog.com//breeders/foxs-working...,"Show Low, AZ",Caitlyn Fox,Show Low,AZ
40,3,australian-cattle-dog,HT Heelers,https://www.gooddog.com//breeders/ht-heelers-a...,"Prescott Valley, AZ",Heather Swaim,Prescott Valley,AZ
...,...,...,...,...,...,...,...,...
16156,14,yorkshire-terrier,Karen's Yorkshire Terrier,https://www.gooddog.com//breeders/karens-yorks...,Wisconsin,Karen Peterson,None,WI
16303,21,yorkshire-terrier,Karie Becker's Yorkshire Terriers,https://www.gooddog.com//breeders/karie-becker...,Wisconsin,Karie Becker,None,WI
16157,14,yorkshire-terrier,More is Better Yorkies,https://www.gooddog.com//breeders/more-is-bett...,Wisconsin,Barbara Allard-Bluske,None,WI
16162,14,yorkshire-terrier,Peggy Brunner's Yorkshire Terriers,https://www.gooddog.com//breeders/peggy-brunne...,Wisconsin,Peggy brunner,None,WI
16178,15,yorkshire-terrier,Hunting Hills Yorkies,https://www.gooddog.com//breeders/hunting-hill...,West Virginia,Bethany Dulaney,None,WV

In [32]:
#Fix the indexing of the dataframe 
df = df.reset_index(drop=True)
df

,page,breed,name,website,loc,cont_name,city,state
0,6,australian-cattle-dog,Dream Weavers Blue Heelers,http://cattledogcrazy.com/our-girls/,NaN,Patricia Weaver,NaN,NaN
1,8,australian-cattle-dog,Rockin Heeler Ranch,https://www.gooddog.com//breeders/rockin-heele...,NaN,Tanya Alberti,NaN,NaN
2,8,australian-cattle-dog,Spotted Ewe ACDs,https://www.gooddog.com//breeders/spotted-ewe-...,NaN,Sarah Karr,NaN,NaN
3,3,australian-cattle-dog,Fox’s Working Cattle Dogs,https://www.gooddog.com//breeders/foxs-working...,"Show Low, AZ",Caitlyn Fox,Show Low,AZ
4,3,australian-cattle-dog,HT Heelers,https://www.gooddog.com//breeders/ht-heelers-a...,"Prescott Valley, AZ",Heather Swaim,Prescott Valley,AZ
...,...,...,...,...,...,...,...,...
16383,14,yorkshire-terrier,Karen's Yorkshire Terrier,https://www.gooddog.com//breeders/karens-yorks...,Wisconsin,Karen Peterson,None,WI
16384,21,yorkshire-terrier,Karie Becker's Yorkshire Terriers,https://www.gooddog.com//breeders/karie-becker...,Wisconsin,Karie Becker,None,WI
16385,14,yorkshire-terrier,More is Better Yorkies,https://www.gooddog.com//breeders/more-is-bett...,Wisconsin,Barbara Allard-Bluske,None,WI
16386,14,yorkshire-terrier,Peggy Brunner's Yorkshire Terriers,https://www.gooddog.com//breeders/peggy-brunne...,Wisconsin,Peggy brunner,None,WI
16387,15,yorkshire-terrier,Hunting Hills Yorkies,https://www.gooddog.com//breeders/hunting-hill...,West Virginia,Bethany Dulaney,None,WV

In [33]:
# Store the storted and formatted dataframe as csv 
df.to_csv('formatted_site2.csv')

In [35]:
# Append it to a text file to match the aim of the task 
file1 = open("Site_2.txt","w")
file1.truncate(0)
breeds =[]
for i in range(df['name'].size):
  if( df['breed'][i] not in breeds):
    breeds.append(df['breed'][i])
    file1.write(df['breed'][i] + '\n\n')
  file1.write(df['name'][i])
  file1.write('\n')
  file1.write('-  ' + 'Contact:' + df['cont_name'][i] +'\n')
  file1.write('-  ' + 'Location:' + str(df['city'][i])+ ', ' + str(df['state'][i]) + '\n')
  file1.write('-  ' + 'Website:' + df['website'][i]+ '\n')
  file1.write('-  ' + 'Member of: Good Dog\n\n')
file1.close()